@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/monsterat/Montserrat-Black.woff2);
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/monsterat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/monsterat/Montserrat-BoldItalic.woff2);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/monsterat/Montserrat-SemiBold.woff2);
    font-weight: 600;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/monsterat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/monsterat/Montserrat-Medium.ttf);
    font-weight: 500;
}